<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fabbandco.android.link2go"
    android:versionCode="35"
    android:versionName="0.0.0.35" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
	<permission android:name="com.fabbandco.android.link2go.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.fabbandco.android.link2go.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
        android:name="com.fabbandco.android.application.Link2GoApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.Link2GoActivity"
            android:label="@string/title_activity_link2_go" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingLink2GoActivity"
            android:label="@string/title_activity_link2_go">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>   
        </activity>
        <activity android:name=".activity.LoginLink2GoActivity" >
        </activity>
        <activity android:name=".activity.LogOutLink2GoActivity" >
        </activity>
        <activity android:name=".activity.MdpLostLink2GoActivity" >
        </activity>

        <receiver
            android:name="com.fabbandco.android.api.SmsReceiver"
            android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
		  <intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		    <category android:name="com.fabbandco.android.link2go" />
		  </intent-filter>
		</receiver>
		
		<service android:name="com.fabbandco.android.api.GCMIntentService" />
		
    </application>

</manifest>